<section class="text-center pb-3 my-5">

    <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
        <mdb-carousel-item>
            <img class="d-block w-100" src="https://www.licoreria24hrs.com/backend/img/Carrucel/portada1.png" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img class="d-block w-100" src="https://www.licoreria24hrs.com/backend/img/Carrucel/portada2.png" alt="Second slide">
        </mdb-carousel-item>

    </mdb-carousel>
</section>
