<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> UBICANOS</h5>
                <p>Chachapoyas - Amazonas
                </p>
            </div>
            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTÁCTANOS</h5>
              <p>Cel: 922 046 086/ 974170958
              </p>
            </div>
        </div>
        <!-- Grid row -->
    </div>


    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a href="https://www.facebook.com/Licorer%C3%ADa-24-Hrs-115651837012389" target="_blank" mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
                <mdb-icon fab icon="facebook"></mdb-icon>
            </a>
        </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020: Licoreria 24hrs
    </div>
    <!-- Copyright -->
     <!-- Copyright -->
     <div class="footer-copyright text-center py-3">Términos y Condiciones
    </div>
    <!-- Copyright -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Diseño y Desarrollador |
      <a href="https://developlancer.com/" target="_blank"> DevelopLancer</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
